@import '../vars.scss';

.card__content{
    width: 60%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    .word{
        font-size: 4rem;
        font-weight: 500;
    }
    .transcription{
        font-size: 2rem;
        color: gray;
        margin-bottom: 13%;
    }
    .translation {
        font-size: 2rem;
        color:rgb(4, 190, 4);
        font-weight: 600;
    }
    .btn__result{
        @include Btn-transparent();
    }
    .btn__result:hover{
        @include Btn-colored();
    }
}