@import '/src/components/vars.scss';

.card__content{
    width: 60%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    .word{
        font-size: 4rem;
        font-weight: 500;
    }
    .transcription{
        font-size: 2rem;
        color: gray;
        margin-bottom: 13%;
    }
    .translation {
        font-size: 2rem;
        color:rgb(4, 190, 4);
        font-weight: 600;
    }
    .btn__result{
        @include Btn-transparent();
    }
    
    .btn__result:hover{
        @include Btn-colored();
    }
    .btn__result:focus{
        box-shadow: rgba(53, 20, 136, 0.2) 0px 12px 28px 0px, rgba(64, 11, 117, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        border: 2px solid  $FontColor;
    }
    
}