@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '/src/components/vars.scss';

.counter-word{
    margin-bottom: 2%;
    color: $FontColor;
    font-family: $FontFamily;
    font-size: 1.2rem;
    font-style: oblique;
}

.game__box{
    background-color: white;
    width: 70%;
    height: 400px;
    border: 0.5px solid rgba(79, 36, 164, 0.309);
    border-radius: 10px;
    box-shadow: rgba(53, 20, 136, 0.2) 0px 12px 28px 0px, rgba(64, 11, 117, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
 .loading{
    width: 10%;
    height: auto;
    margin-left: 45%;
    margin-top: 20%;
 }
 .error{
    color: red;
    font-family: $FontFamily;
    font-size: 1.2rem;
    margin: 20% auto 0;
 }
}
.buttons{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    width: 70%;
    justify-content:space-between;
    .btn{
        cursor: pointer;
        height: 40px;
        width: 140px;
        background-color:$BackgroundColor;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        box-shadow: rgba(53, 20, 136, 0.2) 0px 12px 28px 0px, rgba(64, 11, 117, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
}
.learned-words{
    margin-top: 5%;
    color: $FontColor;
    font-family: $FontFamily;
    font-size: 1.2rem;
    font-style: oblique;
}